<!DOCTYPE html>
<html lang="en">

<%- include('partials/start.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">

    <div class="row">
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Devotional</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h2 class="mb-0"><%= genreCount.devotional %></h2>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-om text-primary ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Action</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h2 class="mb-0"><%= genreCount.action %></h2>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-sword-cross text-danger ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Comedy</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h2 class="mb-0"><%= genreCount.comedy %></h2>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-emoticon-happy-outline text-warning ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Drama</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h2 class="mb-0"><%= genreCount.drama %></h2>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-theater text-warning ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Horror</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h2 class="mb-0"><%= genreCount.horror %></h2>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-ghost text-warning ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Sci-Fi</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h2 class="mb-0"><%= genreCount.sci %></h2>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-rocket-launch text-warning ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<%- include('partials/end.ejs') %>
</html>
