<%- include('partials/start.ejs') %>

    <div class="container-fluid my-4">

        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-body">

                        <h4 class="card-title">Movie List</h4>
                        <p class="card-description">Manage your movie collection</p>

                        <div class="table-responsive-sm">
                            <table class="table table-striped align-middle">

                                <thead class="text-nowrap">
                                    <tr>
                                        <th>No.</th>
                                        <th>Poster</th>
                                        <th>Movie Name</th>
                                        <th>Genre</th>
                                        <th>Rating</th>
                                        <th>Release Date</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% movie.map((film, idx)=> { %>
                                        <tr>
                                            <td>
                                                <%= idx+1 %>
                                            </td>
                                            <td class="py-1">
                                                <img src="/<%= film.photo %>" alt="<%= film.name  %>"
                                                    class="img-fluid rounded" width="200px">
                                            </td>

                                            <td class="text-truncate" style="max-width: 120px;">
                                                <%= film.name %>
                                            </td>

                                            <td>
                                                <%= film.genre %>
                                            </td>

                                            <td style="min-width: 110px;">
                                                <% let progress=(film.rating / 5) * 100; %>

                                                    <div class="progress" style="height: 6px;">
                                                        <div class="progress-bar bg-success" role="progressbar"
                                                            style="width: <%= progress %>%;">
                                                        </div>
                                                    </div>

                                                    <small>
                                                        <%= film.rating %> / 5
                                                    </small>
                                            </td>

                                            <td>
                                                <%= film.date %>
                                            </td>

                                            <td class="text-center">
                                                <div class="d-grid gap-5 d-md-flex justify-content-md-center">
                                                    <a href="/admin/description/<%= film.id %>"
                                                        class="btn btn-secondary btn-sm">
                                                        View
                                                    </a>
                                                    <button class="btn btn-outline-secondary btn-sm">
                                                        Edit
                                                    </button>
                                                    <a href="/admin/deleteMovie/<%= film.id %>"
                                                        class="btn btn-outline-danger btn-sm">
                                                        Delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('partials/end.ejs') %>